{% extends "dash_base.html" %}
{% load staticfiles %}
{% load addcss %}
{% block title %}Add a new bridge{% endblock %}
{% block nav_title %}Add bridge{% endblock %}

{% block css %}
{% endblock %}

{% block body %}
    {% if not needs_bridge %}
    <nav>
      <ul class="pager">
        <li class="previous"><a href="{{ location.get_absolute_url }}"><span aria-hidden="true">&larr;</span> Back to location page</a></li>
      </ul>
    </nav>
    {% endif %}

    {% if needs_bridge %}
        <h1>{{ location.name }} <span class="gray">is almost set!</span></h1>
        <p>
            Before we can get your location up and running, we'll need to hook up a bridge device to this particular
            location.
        </p>

    {% endif %}

    <h3>What's a bridge?</h3>
    <p>
        We need to communicate to each sensor in the tank through the a device called a bridge. Our sensor devices are ultra-low
        powered so that they can continuously keep monitoring your batches of wine. That means they don't have enough power to reach the
        Internet on their own.

        The bridge relays all the sensor readings to our servers.
    </p>

    <h3>Add a bridge to <span class="gray">{{ location.name }}</span></h3>
    <form method="POST">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="col-sm-7 alert alert-warning" role="alert">
              <span class="sr-only">Error:</span>
                {{ form.non_field_errors }}
            </div>
        {% endif %}
        {% if form.uuid.errors %}
        <div class="row">
            <div class="col-sm-7 alert alert-danger" role="alert">
              <span class="sr-only">Error:</span>
              {{ form.uuid.errors }}
            </div>
        </div>
        {% endif %}

        <div id="uuid-group" class="form-group">
           <div class="row">
               <label for="id_uuid" class="col-sm-2 control-label">{{ form.uuid.label }}</label>
               <div class="col-sm-4">
                   {{ form.uuid | addcss:"form-control"}}
               </div>
           </div>
        </div>
        <button type="submit" class="btn btn-large btn-primary">Add</button>
    </form>
{% endblock %}


{% block js %}
    <script>
    $(document).ready(function(){
        $('#id_uuid').keypress(function (e) {
            console.log(e.currentTarget.value.length);
            var regex = new RegExp("^[a-zA-Z0-9]+$");
            var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
            if (e.currentTarget.value.length === 32) {
                $('#uuid-group').addClass('has-success');
            } else {
                $('#uuid-group').removeClass('has-success');
            }
            if (regex.test(str)) {
                return true;
            }

            e.preventDefault();
            return false;
        });
    });
    </script>
{% endblock %}