{% extends "dash_base.html" %}
{% load staticfiles %}
{% block title %}Viewing {{ tank.name }}{% endblock %}
{% block nav_title %}{{ tank.name }}{% endblock %}

{% block css %}
<link href="{% static "css/graphs.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
<nav>
  <ul class="pager">
    <li class="previous"><a href="{{ location.get_absolute_url }}"><span aria-hidden="true">&larr;</span> Back to location page</a></li>
  </ul>
</nav>
{% if tank.is_active %}
<p class="lead"><strong>{{ tank.name }}</strong> is reading loud and clear. The last reading was 10 minutes ago.</p>
{% else %}
<p class="lead"><strong>{{ tank.name }}</strong> has been completed. The fermentation process took {{ tank.total_days }} days. The historical measurements are shown below.</p>
{% endif %}

<div style="float:left;">
  <p> &nbsp;</p>
  <p id='date'></p>
  <p id='expected'>Expected Brix  degrees Brix</p>
  <p id='actual'>Actual Brix  degrees Brix</p>
  <p id='temperature'>Temperature  degrees Celsius</p>
</div>

<div class="form-group" style="float:right;">
<p class="lead"> &nbsp;</p>
Day  6: <input id="Day6" type="text" name="&nbsp;Day6" value="9.00" onchange="updateCurve()"><br>
Day  7: <input id="Day7" type="text" name="&nbsp;Day7" value="4.00" onchange="updateCurve()"><br>
Day  8: <input id="Day8" type="text" name="&nbsp;Day8" value="2.00" onchange="updateCurve()"><br>
Day  9: <input id="Day9" type="text" name="&nbsp;Day9" value="1.00" onchange="updateCurve()"><br>
Day 10: <input id="Day10" type="text" name="Day10" value="1.00" onchange="updateCurve()"><br>
</div>

<div class="form-group" style="float:right;">
<p class="lead">Expected Brix Curve</p>
Day  1: <input id="Day1" type="text" name="&nbsp;Day1" value="35.00" onchange="updateCurve()"><br>
Day  2: <input id="Day2" type="text" name="&nbsp;Day2" value="34.00" onchange="updateCurve()"><br>
Day  3: <input id="Day3" type="text" name="&nbsp;Day3" value="29.00" onchange="updateCurve()"><br>
Day  4: <input id="Day4" type="text" name="&nbsp;Day4" value="22.00" onchange="updateCurve()"><br>
Day  5: <input id="Day5" type="text" name="&nbsp;Day5" value="15.00" onchange="updateCurve()"><br>
</div>

<div class='detailGraph'></div>
<div class='legend'></div>

{% if tank.is_active %}
<h4>Done with this batch? Mark it as finished!</h4>
<div class="alert alert-warning" role="alert"><strong>Warning!</strong> Once a tank is marked as finished, the tank will no longer receive or record measurements.</div>
<a href="{{ tank.get_absolute_url }}end" class="btn btn-large btn-danger">Finish and stop</a>
{% endif %}
{% endblock %}

{% block js %}
<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js' charset='utf-8'></script>
<script src="{% static "assets/js/ace.js" %}" charset="utf-8"></script>
<script src="{% static "assets/js/metricsgraphics.js" %}"></script>

<!-- Load reading data -->
<script>
var tankReadings = {{ readings | safe}};

        // Remap the Temperature data
        var tempReadings = tankReadings.map(function(d) {
          var dd = {};
          dd.created_at = new Date(Date.parse(d.fields.created_at));
          dd.value = d.fields.temperature;
          return dd;
        });

        // Remap the Brix data
        var brixReadings = tankReadings.map(function(d) {
          var dd = {};
          dd.created_at = new Date(Date.parse(d.fields.created_at));
          dd.value = d.fields.brix;
          return dd;
        });

        var expectedBrix = [];
        var closest_date;
        var hover_date;
        var initial_date = new Date(Date.parse(tankReadings[0].fields.created_at));
        var date1 = new Date(initial_date);
        date1.setDate(initial_date.getDate() + 1);
        var date2 = new Date(date1);
        date2.setDate(date1.getDate() + 1);
        var date3 = new Date(date2);
        date3.setDate(date2.getDate() + 1);
        var date4 = new Date(date3);
        date4.setDate(date3.getDate() + 1);
        var date5 = new Date(date4);
        date5.setDate(date4.getDate() + 1);
        var date6 = new Date(date5);
        date6.setDate(date5.getDate() + 1);
        var date7 = new Date(date6);
        date7.setDate(date6.getDate() + 1);
        var date8 = new Date(date7);
        date8.setDate(date7.getDate() + 1);
        var date9 = new Date(date8);
        date9.setDate(date8.getDate() + 1);
        var expectedDates = [initial_date, date1, date2, date3, date4, date5, date6, date7, date8, date9];
        hover_date = initial_date;

        // Map the expected Brix curve
        function updateCurve(){
          expectedBrix = [{'created_at': expectedDates[0], 'value': parseInt(document.getElementById("Day1").value)},
          {'created_at': expectedDates[1], 'value': parseInt(document.getElementById("Day2").value)},
          {'created_at': expectedDates[2], 'value': parseInt(document.getElementById("Day3").value)},
          {'created_at': expectedDates[3], 'value': parseInt(document.getElementById("Day4").value)},
          {'created_at': expectedDates[4], 'value': parseInt(document.getElementById("Day5").value)},
          {'created_at': expectedDates[5], 'value': parseInt(document.getElementById("Day6").value)},
          {'created_at': expectedDates[6], 'value': parseInt(document.getElementById("Day7").value)},
          {'created_at': expectedDates[7], 'value': parseInt(document.getElementById("Day8").value)},
          {'created_at': expectedDates[8], 'value': parseInt(document.getElementById("Day9").value)},
          {'created_at': expectedDates[9], 'value': parseInt(document.getElementById("Day10").value)}];
          closest_date = expectedBrix[0];

          var last_reading = brixReadings.length - 1;
          closest_date = expectedBrix[0];
          var closest_diff = Math.abs(brixReadings[last_reading].created_at - expectedBrix[0].created_at);
          for (j = 0; j < expectedBrix.length; j++){
            var diff = Math.abs(brixReadings[last_reading].created_at - expectedBrix[j].created_at);
            if (diff < closest_diff) {
              closest_diff = diff;
              closest_date = expectedBrix[j];
            }
          }
          document.getElementById("date").innerHTML = brixReadings[last_reading].created_at;
          document.getElementById("expected").innerHTML = 'Expected Brix  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + closest_date.value.toFixed(2) + ' degrees Brix';
          document.getElementById("actual").innerHTML = 'Actual Brix &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + (brixReadings[last_reading].value).toFixed(2) + ' degrees Brix';
          document.getElementById("temperature").innerHTML = 'Temperature &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + (tempReadings[last_reading].value).toFixed(2) + ' degrees Celsius';

            // Plot the visualization
            data_graphic({
              data: [brixReadings, tempReadings, expectedBrix],
              width: 800,
              height: 250,
              target: ".detailGraph",
              x_accessor: 'created_at',
              y_accessor: 'value',
              show_rollover_text: false,
              rollover_callback: function(d, i) {

                hover_date = d.created_at;

                //custom format the rollover text, show days
                var prefix = d3.formatPrefix(d.value);
                
                //if hovered over Brix reading
                if (i < brixReadings.length){ 
                  closest_date = expectedBrix[0];
                  var closest_diff = Math.abs(d.created_at - expectedBrix[0].created_at);
                  for (j = 0; j < expectedBrix.length; j++){
                    var diff = Math.abs(d.created_at - expectedBrix[j].created_at);
                    if (diff < closest_diff) {
                      closest_diff = diff;
                      closest_date = expectedBrix[j];
                    }
                  }


                  /*$('.detailGraph svg .active_datapoint')
                    .html((d.created_at) + ' &nbsp; '
                         + 'Measured Brix ' + prefix.scale(d.value).toFixed(2) + ' Measured Temperature ' + prefix.scale(tempReadings[i].value).toFixed(2) + ' Expected Brix ' + closest_date.value);*/

                    document.getElementById("date").innerHTML = d.created_at;
                    document.getElementById("expected").innerHTML = 'Expected Brix  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + closest_date.value.toFixed(2) + ' degrees Brix';
                    document.getElementById("actual").innerHTML = 'Actual Brix &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + prefix.scale(d.value).toFixed(2) + ' degrees Brix';
                    document.getElementById("temperature").innerHTML = 'Temperature &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + prefix.scale(tempReadings[i].value).toFixed(2) + ' degrees Celsius';

                } 

                //if hovered over Temperature reading
                else if (i < (brixReadings.length + tempReadings.length)){  
                    closest_date = expectedBrix[0];
                    var closest_diff = Math.abs(d.created_at - expectedBrix[0].created_at);

                    for (j = 0; j < expectedBrix.length; j++){
                      var diff = Math.abs(d.created_at - expectedBrix[j].created_at);
                      if (diff < closest_diff) {
                        closest_diff = diff;
                        closest_date = expectedBrix[j];
                      }
                    }

                    /*$('.detailGraph svg .active_datapoint')
                    .html((d.created_at) + ' &nbsp; '
                         + 'Measured Brix ' + prefix.scale(brixReadings[(i - brixReadings.length)].value).toFixed(2) + ' Measured Temperature ' + prefix.scale(d.value).toFixed(2) + ' Expected Brix ' + closest_date.value);*/

                    document.getElementById("date").innerHTML = d.created_at;
                    document.getElementById("expected").innerHTML = 'Expected Brix  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + closest_date.value.toFixed(2) + ' degrees Brix';
                    document.getElementById("actual").innerHTML = 'Actual Brix &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + prefix.scale(brixReadings[(i - brixReadings.length)].value).toFixed(2) + ' degrees Brix';
                    document.getElementById("temperature").innerHTML = 'Temperature &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + prefix.scale(d.value).toFixed(2) + ' degrees Celsius';

                } 

                //if hovered over expected Value
                else { 
                    closest_date = brixReadings[0];
                    var closest_temp_date = tempReadings[0];
                    var closest_diff = Math.abs(d.created_at - brixReadings[0].created_at);

                    for (j = 0; j < brixReadings.length; j++){
                      var diff = Math.abs(d.created_at - brixReadings[j].created_at);
                      if (diff < closest_diff) {
                        closest_diff = diff;
                        closest_date = brixReadings[j];
                        closest_temp_date = tempReadings[j];
                      }
                    }

                    /*$('.detailGraph svg .active_datapoint')
                    .html((d.created_at) + ' &nbsp; '
                         + 'Measured Brix ' + prefix.scale(closest_date.value).toFixed(2) + ' Measured Temperature ' + prefix.scale(closest_temp_date.value).toFixed(2) + ' Expected Brix ' + d.value);*/

                    document.getElementById("date").innerHTML = d.created_at;
                    document.getElementById("expected").innerHTML = 'Expected Brix  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + d.value.toFixed(2) + ' degrees Brix';
                    document.getElementById("actual").innerHTML = 'Actual Brix &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + prefix.scale(closest_date.value).toFixed(2) + ' degrees Brix';
                    document.getElementById("temperature").innerHTML = 'Temperature &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; ' + prefix.scale(closest_temp_date.value).toFixed(2) + ' degrees Celsius';
                }
              },
              legend: ['Actual Brix (in degrees Brix)', 'Temperature (in degrees Celsius)', 'Expected Brix (in degrees Brix)'],
              markers: [{'created_at': hover_date}],
              legend_target: '.legend'
            });
          }

          </script>

          <script>

          $(document).ready(function(){
            updateCurve();

          });
          </script>
          {% endblock %}