{% extends "dash_base.html" %}
{% load staticfiles %}
{% block title %}Viewing {{ tank.name }}{% endblock %}
{% block nav_title %}{{ tank.name }}{% endblock %}

{% block css %}
    <link href="{% static "css/graphs.css" %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <nav>
      <ul class="pager">
        <li class="previous"><a href="{{ location.get_absolute_url }}"><span aria-hidden="true">&larr;</span> Back to location page</a></li>
      </ul>
    </nav>
    {% if tank.is_active %}
        <p class="lead"><strong>{{ tank.name }}</strong> is reading loud and clear. The last reading was 10 minutes ago.</p>
    {% else %}
        <p class="lead"><strong>{{ tank.name }}</strong> has been completed. The fermentation process took {{ tank.total_days }} days. The historical measurements are shown below.</p>
    {% endif %}

    <div class='detailGraph'></div>
    <div class='legend'></div>

    {% if tank.is_active %}
    <h4>Done with this batch? Mark it as finished!</h4>
    <div class="alert alert-warning" role="alert"><strong>Warning!</strong> Once a tank is marked as finished, the tank will no longer receive or record measurements.</div>
    <a href="{{ tank.get_absolute_url }}end" class="btn btn-large btn-danger">Finish and stop</a>
    {% endif %}
{% endblock %}

{% block js %}
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.js' charset='utf-8'></script>
    <script src="{% static "assets/js/ace.js" %}" charset="utf-8"></script>
    <script src="{% static "assets/js/metricsgraphics.js" %}"></script>

    <!-- Load reading data -->
    <script>
        var tankReadings = {{ readings | safe}};

        // Remap the Temperature data
        var tempReadings = tankReadings.map(function(d) {
            var dd = {};
            dd.created_at = new Date(Date.parse(d.fields.created_at));
            dd.value = d.fields.temperature;
            return dd;
        });

        // Remap the Brix data
        var brixReadings = tankReadings.map(function(d) {
            var dd = {};
            dd.created_at = new Date(Date.parse(d.fields.created_at));
            dd.value = d.fields.brix;
            return dd;
        });
    </script>

    <script>
        $(document).ready(function(){
            // Plot the visualization
            data_graphic({
                data: [tempReadings, brixReadings],
                width: 800,
                height: 250,
                target: ".detailGraph",
                x_accessor: 'created_at',
                y_accessor: 'value',
                legend: ['Actual Brix (in degrees Brix)', 'Temperature (in degrees Celsius)'],
                legend_target: '.legend'
            });
        });
    </script>
{% endblock %}